<div>
    <mat-form-field>
        <mat-label>Nombre del pokemon</mat-label>
        <input
        matInput
        required
        type="text"
        name="poke_name"
        [(ngModel)]="room.poke_name"
        #poke_name="ngModel"
        >
        <mat-error *ngIf="poke_name.invalid && 
        (poke_name.dirty || poke_name.touched)"
        >Este campo es necesario</mat-error>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Nombre del gimnasio</mat-label>
        <input
        matInput
        required
        type="text"
        name="gym_name"
        [(ngModel)]="room.gym_name"
        #gym_name="ngModel"
        >
        <mat-error *ngIf="gym_name.invalid && 
        (gym_name.dirty || gym_name.touched)"
        >Este campo es necesario</mat-error>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Lugar</mat-label>
        <input
        matInput
        required
        type="text"
        name="place"
        [(ngModel)]="room.place"
        #place="ngModel"
        >
        <mat-error *ngIf="place.invalid && 
        (place.dirty || place.touched)"
        >Este campo es necesario</mat-error>
    </mat-form-field>

    <input [ngxTimepicker]="picker">
    <ngx-material-timepicker #picker></ngx-material-timepicker>
    
    <!-- <mat-form-field>
        <mat-label>Hora de encuentro</mat-label>
        <input
        matInput
        required
        type="time"
        name="match_hour"
        [(ngModel)]="room.match_hour"
        #match_hour="ngModel"
        >
        <mat-error *ngIf="match_hour.invalid && 
        (match_hour.dirty || match_hour.touched)"
        >Este campo es necesario</mat-error>
    </mat-form-field> -->
</div>

<mat-dialog-actions style="display: flex; justify-content: space-around">
    <button mat-raised-button
    (click)="dialog.close()"
    >Cerrar</button>
    <button mat-raised-button color="primary"
    (click)="onSubmit()"
    >Crear</button>
</mat-dialog-actions>



